/**
 * {{name_pascal}}ActionProvider provides actions for {{name}} operations.
 *
 * @description
 * This provider is designed to work with {{wallet_provider}} for blockchain interactions.
{% if not protocol_family %}
 * It supports all blockchain networks.
{% else %}
 * It supports all {{protocol_family}} networks.
{% endif %}
 */
export class {{name_pascal}}ActionProvider extends ActionProvider<{{wallet_provider}}> {
  /**
   * Constructor for the {{name_pascal}}ActionProvider.
   */
  constructor() {
    super("{{name}}", []);
  }
} 