"""Tests for {{ name_pascal }}ActionProvider."""

{% if wallet_provider %}
{% include "action_provider_test/imports_wallet.py.template" %}
{% else %}
{% include "action_provider_test/imports_base.py.template" %}
{% endif %}


{%- if wallet_provider %}
{% include "action_provider_test/wallet_fixture.py.template" %}
{%- endif %}

{% include "action_provider_test/provider_fixture.py.template" %}

{% include "action_provider_test/initialization_test.py.template" %}

{% if not protocol_family %}
{% include "action_provider_test/network_support_all_test.py.template" %}
{% endif %}
{% if protocol_family and not network_ids|length %}
{% include "action_provider_test/network_support_protocol_test.py.template" %}
{% endif %}
{% if protocol_family and network_ids|length %}
{% include "action_provider_test/network_support_protocol_network_test.py.template" %}
{% endif %}

{% if protocol_family %}
{% include "action_provider_test/network_support_invalid_test.py.template" %}
{% endif %}