"""{{ name_pascal }} Action Provider.

This file contains the implementation of the {{ name_pascal }}ActionProvider,
which provides actions for {{ name }} operations.

@module {{ name }}
"""

{% if wallet_provider %}
{% include "action_provider/header_wallet.py.template" %}
{% else %}
{% include "action_provider/header_base.py.template" %}
{% endif %}

{% include "action_provider/constructor.py.template" %}

{% if wallet_provider %}
{% include "action_provider/example_action_wallet.py.template" %}
{% else %}
{% include "action_provider/example_action_base.py.template" %}
{% endif %}

{% if not protocol_family %}
{% include "action_provider/network_support_all.py.template" %}
{% elif protocol_family != "all" and network_ids|length == 0 %}
{% include "action_provider/network_support_protocol.py.template" %}
{% elif protocol_family != "all" and network_ids|length > 0 %}
{% include "action_provider/network_support_protocol_network.py.template" %}
{% endif %}

{% include "action_provider/factory.py.template" %}

