"""Tests for example action."""

{% if wallet_provider %}
{% include "test_example_action/imports_wallet.py.template" %}
{% else %}
{% include "test_example_action/imports_base.py.template" %}
{% endif %}

{% if wallet_provider %}
{% include "action_provider_test/wallet_fixture.py.template" %}
{% endif %}

{% include "action_provider_test/provider_fixture.py.template" %}

{% include "test_example_action/schema_test.py.template" %}

{% if wallet_provider %}
{% include "test_example_action/execution_test_wallet.py.template" %}
{% else %}
{% include "test_example_action/execution_test_base.py.template" %}
{% endif %}
