/**
 * {{name_pascal}}ActionProvider Tests
 */

{% if wallet_provider %}
{% include "scripts/generate-action-provider/templates/actionProvider.test/importsWallet.ts.template" %}
{% else %}
{% include "scripts/generate-action-provider/templates/actionProvider.test/importsBase.ts.template" %}
{% endif %}

{% if protocol_family == "evm" and networkIds|length %}
{% include "scripts/generate-action-provider/templates/actionProvider.test/importsEvm.ts.template" %}
{% endif %}

{% if protocol_family == "svm" and networkIds|length %}
{% include "scripts/generate-action-provider/templates/actionProvider.test/importsSvm.ts.template" %}
{% endif %}

{% include "scripts/generate-action-provider/templates/actionProvider.test/setup.ts.template" %}

{% include "scripts/generate-action-provider/templates/actionProvider.test/networkSupportTests.ts.template" %}

{% include "scripts/generate-action-provider/templates/actionProvider.test/schemaValidationTests.ts.template" %}

{% include "scripts/generate-action-provider/templates/actionProvider.test/executionTests.ts.template" %}

{% include "scripts/generate-action-provider/templates/actionProvider.test/closing.ts.template" %}
