/**
 * {{name_pascal}} Action Provider
 *
 * This file contains the implementation of the {{name_pascal}}ActionProvider,
 * which provides actions for {{name}} operations.
 *
 * @module {{name}}
 */

{% if wallet_provider %}
  {% include "scripts/generate-action-provider/templates/actionProvider/headerWallet.ts.template" %}
{% else %}
  {% include "scripts/generate-action-provider/templates/actionProvider/headerBase.ts.template" %}
{% endif %}
{
  /**
   * Constructor for the {{name_pascal}}ActionProvider.
   */
  constructor() {
    super("{{name}}", []);
  }

  {% if wallet_provider %}
    {% include "scripts/generate-action-provider/templates/actionProvider/exampleActionWallet.ts.template" %}
  {% else %}
    {% include "scripts/generate-action-provider/templates/actionProvider/exampleActionBase.ts.template" %}
  {% endif %}

  {% if not protocol_family %}
    {% include "scripts/generate-action-provider/templates/actionProvider/networkSupportAll.ts.template" %}
  {% elif protocol_family != "all" and networkIds|length == 0 %}
    {% include "scripts/generate-action-provider/templates/actionProvider/networkSupportProtocol.ts.template" %}
  {% elif protocol_family != "all" and networkIds|length > 0 %}
    {% include "scripts/generate-action-provider/templates/actionProvider/networkSupportProtocolNetwork.ts.template" %}
  {% endif %}
}

/**
 * Factory function to create a new {{name_pascal}}ActionProvider instance.
 *
 * @returns A new {{name_pascal}}ActionProvider instance
 */
export const {{name}}ActionProvider = () => new {{name_pascal}}ActionProvider();
